[submodule "build"]
	path = build
	url = ../rockpi-build.git
[submodule "rkbin"]
	path = rkbin
	url = ../rockpi-rkbin.git
[submodule "u-boot"]
	path = u-boot
	url = ../rockpi-u-boot.git
[submodule "rootfs"]
	path = rootfs
	url = ../rk-rootfs-build.git
[submodule "kernel"]
	path = kernel
	url = ../rockpi-kernel.git
